//Colors
$primary-color: #FF4C00;
$primary-color-orange: #FF8412;
$primary-color-red: #CF0A00;
$primary-color-btn-green: #3c9088;
$primary-color-btn-red: #b10a02;
$btn-red-background-hover:#bb3029;
$primary-color-dark: #23272E;
$color-accent-blue: #039be5;

$primary-font: #fafafa;
