<div ng-include ="'./partials/profile-nav.html'"></div>

<div class="row">
    <div class="col s6 offset-s1">
        <h1>Vocab Words</h1>
    </div>
</div>	

<div class="row">
	<div class="col s3 offset-s9">
		<input type="text" placeholder="New Vocab Word" ng-model="newVocabCard.vocabName">
		<input type="text" placeholder="Definition" ng-model="newVocabCard.vocabDefinition">
		<button class="btn" ng-click="addNewVocabCard()">Add Word</button>
	</div>
</div>

	<div class="row">
        <div class="col s3 offset-s1" id="vocabCard.indexOf(vocabName)" ng-repeat="vocabCard in vocabCards | filter: {profileId:profileID}">
            <div class="card transparent card-style">
                <div class="card-content white-text">
                    <div class="center-align">
                        <span ng-src class="card-title"><h3>{{vocabCard.vocabName}}</h3></span>
                        <i class="fa fa-volume-up fa-2x" aria-hidden="true" ng-click="speakWord(vocabCard.vocabName)"></i>
                    </div>  
                    <div class="row">
                        <div class="center-align">
                            <button class="btn" ng-click="speakWord(vocabCard.vocabDefinition)">Definition</button>
                            <button class="waves-effect waves-light btn btn-delete fa fa-trash-o" ng-click="deleteVocabCard(vocabCard.id)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>