<div ng-include ="'./partials/profile-nav.html'"></div>

<div class="row">
<div class="col s8 offset-s2">
<h3>New Homework Item</h3>

<form>
    <div class="row">
        <input placeholder="Homework Title" id="hw-title" type="text" class="validate" ng-model="newHomework.homeworkTitle">
    </div>
    <div class="row">
        <input placeholder="Due Date" id="due-date" type="date" class="datepicker" ng-model="newHomework.dueDate">
    </div>
    
    
    <div class="col s3 offset-s9"><button class="btn btn-danger" ng-click="addNewHomework()">Add Homework</button></div>
</form>
</div>
</div>