<div class="row">
<div class="center-align">
	<h1 class="landing-title">HomeWork</h1>
	<p>asdjlfkjsdlfjsldkfjsldkjf</p>
	</div>
</div>

<div class="row">
	<div class="center-align">
		<a href="#/auth"><button class="waves-effect waves-light btn" ng-click="setRegisterContainer()">Register</button></a>
		<a href="#/auth"><button class="waves-effect waves-light btn" ng-click="setLoginContainer()">Login</button></a>
		<!-- <button class="waves-effect waves-light btn col s3 offset-s1" ng-click="loginGoogleUser()">Google Sign In</button> -->
	</div>
	</div>