<div class="row">
  <button class="btn col s2" ng-click="showCreateNewProfile()">New Child Profile</button>
</div>

<div class="row">
    <div class="col s3 offset-s2 profile-frame" ng-repeat="profile in profiles">
            <div class="center-align">
                <a href="#/profile/dashboard/{{profile.id}}"><img src="{{profile.profileImage}}" width=100% class="profile-image"></a>
            </div>

            <div class="center-align">
                <a href="#/profile/dashboard/{{profile.id}}"><span><h4>{{profile.profileName}}</h4></span></a>
            </div>
        
            <div class="center-align">
                <span>Grade {{profile.grade}}</span>
            </div>
            <div class="center-align">
                <button class="waves-effect waves-light btn btn-delete fa fa-trash-o " ng-click="deleteProfile(profile.id)"></button>
            </div>

    </div>
</div>           
