<div ng-include ="'./partials/profile-nav.html'"></div>

<div class="row">
    <div class="col s8 offset-s2">
        <h3>New Book</h3>

        <form>
            <div class="row">
                <input placeholder="Book Title" id="book-title" type="text" class="validate" ng-model="newBook.bookTitle">
            </div>
            <div class="row">
                <input placeholder="Author" id="book-author" type="text" class="validate" ng-model="newBook.author">
            </div>
            <div class="row">
                <input placeholder="Due Date" id="date-read" type="date" class="datepicker" ng-model="newBook.dateRead">
            </div>
            
            
            <div class="right-align"><button class="btn btn-danger" ng-click="addNewBook(); selectProfile(newBook.profileId)">Add Book</button></div>
        </form>
    </div>
</div>