<div ng-include ="'./partials/profile-nav.html'"></div>

<div class="row">
    <div class="col s8 offset-s2">
        <h3>New Reward</h3>

        <form>
            <div class="row">
                <input placeholder="Reward Title" id="reward-title" type="text" class="validate" ng-model="newReward.rewardTitle">
            </div>
            <div class="row">
                <input placeholder="Description" id="reward-description" type="text" class="validate" ng-model="newReward.description">
            </div>
            <div class="row">
                <input placeholder="Points Cost" id="reward-cost" type="text" ng-model="newReward.pointsNeeded">
            </div>
            
            
            <div class="right-align"><button class="btn btn-danger" ng-click="addNewReward()">Add Reward</button></div>
        </form>
    </div>
</div>